body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.body {
    overflow: hidden;
    width: 100%;
    text-align: center;
    height: 100%;
    top: 5%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    z-index: 0;
    font-family: Futura,"century gothic",arial,sans-serif;
}

.overlay {
    background-color: #3b4a82;
    background-repeat: no-repeat;
    background-image: url("images/header-bg.0M4Ei.jpg");
    background-position: center -100px;
    position: relative;
    padding: 0;
    padding-top: 800px;
}

.selection-wrap{
    position: relative;
    left: -1%;
    margin: auto;
}
.selection-wrap {
    display: inline;
}
.selection-link {
    display: block;
}

.selection-item {
    
}
.selection-item a {
    color: #ffc70e;
    transition: 200ms color ease;

}

.portrait-link {
    height: 134px; 
    width: 125px; 
    background-position: 0; 
    background-repeat: no-repeat; 
    display: inline-block;
    border-top: 5px solid #a1a1a1;
    border-radius: 5px;
    border-bottom: 5px solid #a1a1a1;
    margin-left: 2px;
    
}
.portrait-link:hover {
    background-color: yellow;
}
#hifiman {
    background-image: url('images/headphones/HE-400-sized.png');
}
#hd800 {
    background-image: url('images/headphones/HD800-xlarge-sized.png');
}
#hd650 {
    background-image: url('images/headphones/dsc_3524-sized.png');
}
#alpha-dog {
    background-image: url('images/headphones/alpha-dog-sized.png');
}
#audio-technica {
    background-image: url('images/headphones/ath_msr7_ltd-sized.png');
}

#background_image {
    

}

#test {
    font-family: Futura, "century gothic", arial, sans-serif;
}

.portrait-div {
    display: inline-block;
}
.portrait-div .portrait-label {
    text-align: center;
}

.slideme {
    max-width: 990px;
    max-height: 450px;
    width: 100%;
    height: 100%;
}