
<div style="width: 92%; margin-top: 15px; margin-left: auto; margin-right: auto">
    <div class="portrait-div">
        <div><a href="http://www.google.com" class="portrait-link" id="hifiman"></a></div>
        <div class="portrait-label">HiFIMAN</div>
    </div>
    <div class="portrait-div">
        <div><a href="http://www.google.com" class="portrait-link" id="hd800"></a></div>
        <div class="portrait-label">HD800</div>
    </div>
    <div class="portrait-div">
        <div><a href="http://www.google.com" class="portrait-link" id="hd650"></a></div>
        <div class="portrait-label">HD650</div>
    </div>
    <div class="portrait-div">
        <div><a href="http://www.google.com" class="portrait-link" id="alpha-dog"></a></div>
        <div class="portrait-label">Mr.Speakers</div>
    </div>
    <div class="portrait-div">
        <div><a href="http://www.google.com" class="portrait-link" id="audio-technica"></a>
        </div>
        <div class="portrait-label">Audio-Technica</div>
    </div>
    <div class="portrait-div">
        <div><a href="http://www.google.com" class="portrait-link" id="hd800"></a></div>
        <div class="portrait-label">HD800</div>
    </div>
    <div class="portrait-div">
        <div><a href="http://www.google.com" class="portrait-link" id="hd650"></a></div>
        <div class="portrait-label">HD650</div>
    </div>
    <div class="portrait-div">
        <div><a href="http://www.google.com" class="portrait-link" id="alpha-dog"></a></div>
        <div class="portrait-label">Mr.Speakers</div>
    </div>
</div>